 <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                                        <a href="#"><img src="../assets/product/apple_logo-60x60.jpg" title="<%= brand.name %>" alt="<%= brand.name %>" /></a><a href="#"><%= brand.name %></a></div>
